.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    &__table{
        width:95%;
        // & form{
        //     width:90%
        // }
    }

}